:root{
/*  --変数名: 値; */    
    --title_top_posi: 280px;
    --title_left_posi: 100px;
}

header{
    background: lightblue;
    height: 100px;
}

a{
    text-decoration: none;
}

.title{
/*    top: 0%;
    left: 0%; 
    border: 5px solid red; */
    background-image:url(../pic/cafe_pic00.jpeg);
    background-size:cover;
    height: 400px;
}

.title_circle{
/*    top: -10%;
    left: 10%; */
    width: 100px;
    height: 100px; 
    background-color: gray;
    border-radius: 50%;     /* ←円を作る */
}

.title h1{
    color:white;
/*    top: var(--title_top_posi);
    left: var(--title_left_posi); */
}

.title p{
    color:white;
/*    top: calc(var(--title_top_posi) + 50px);
    left: var(--title_left_posi); */
}

.content{
    background:darkgray;
    color:white;
    text-align: center;
}

.content_element{
    display:inline-block;
}

.content_element a{
    color:white;
    background-color: gray;
}

.btn{
    opacity:0.7;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}

.btn:hover{
    opacity:1;
}

.menu{
    color:gray;
    text-align: center;
}

.menu_list{
    display:inline-block;
    text-align: center;
}

.menu_list a{
    border:1px solid gray;
    color:gray;
}

.menu_ele{
    display:block;
}

.menu_list img{
    width: 300px;
}
