:root{
/*  --変数名: 値; */    
    --title_top_posi: 280px;
    --title_left_posi: 100px;
}

header{
    background: lightblue;
    height: 100px;
}
.content h2{
    display:none;
}

.main{
    position: relative;     /* 親要素は相対位置 */ 
    background: blue;

}
.title{
    position: absolute;     /* 子要素は絶対位置 */ 
/*    top: 0%;
    left: 0%; */
    border: 5px solid red;
    background: pink;
    display:block;
/*    width: 100px;
    height: 400px;*/
}

.title_circle{
    position: absolute;     /* 子要素は親から見た絶対位置 */
    top: -10%;
    left: 10%; 
    width: 100px;
    height: 100px; 
    background-color: gray;
    border-radius: 50%;     /* ←円を作る */
}
.title img{
/*    position: absolute;*/     /* 子要素は親から見た絶対位置 */
/*   top: 10%;*/
/*    left:0%;*/
    width: 100%;
    height: 100%;
}

.title h1{
    position: absolute;     /* 子要素は親から見た絶対位置 */
    color:white;
    top: 35%;
    left: 30%;
/*    top: var(--title_top_posi);
    left: var(--title_left_posi); */
}

.title p{
    position: absolute;     /* 子要素は親から見た絶対位置 */
    color:white;
    top: 50%;
    left: 30%;
/*    top: calc(var(--title_top_posi) + 50px);
    left: var(--title_left_posi); */
}